{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "class-methods-use-this": 0,
    "import/no-named-as-default": 0,
    "require-atomic-updates": "warn",
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/camelcase": ["error", { "properties": "never" }],
    "no-console": "error"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
    "prettier/@typescript-eslint"
  ]
}
